.popup__btn-save {
  border-radius: 2px;
  border: none;
  margin: 0 0 37px;
  background-color: #000;
  color: #FFF;
  font-family: 'Inter', 'Arial', 'sans-serif';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  height: 50px;
  transition: .4s;
  width: 100%;
}

.popup__btn-save:hover {
  cursor: pointer;
  opacity: .8;
}

@media (max-width: 767px) {
  .popup__btn-save {
    margin: 0 0 25px;
    font-size: 14px;
    line-height: 17px;
  }
}
