.page {
  margin: 0 auto;
  max-width: 880px;
  /* border: 1px solid green; */
}

@media (max-width: 1023px) {
  .page {
    max-width: calc(100% - 90px * 2);
  }
}

@media (max-width: 767px) {
  .page {
    max-width: 100%;
  }
}
